@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Caudex');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
}

body {
    background-color: #4c6e94;
    font-family: 'Montserrat';
    overflow-x: hidden;
    /* background-color: #EFE2BA; */
}

.scroll-watcher {
    height:0.25vh;
    position:fixed;
    top: 0;
    z-index: 1000;
    background-color:#5da8ff;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

component {
    /* min-height: 80vh;
    max-height: 100vh; */
    display: block;
    position: relative;
    z-index: 2;
    /* padding-top: 7vh; */
    background-color: #4c6e94;
    /* background-color: #E5D9B6;  */
    /* background-image: linear-gradient(#4c6e94, #e8e8e8); */
}

component:nth-child(odd) {
    background-color: rgb(95, 123, 155);

}

.component-header {
    background-color: rgb(58, 87, 121);
    transition: width 2s;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Caudex';
    font-size: 3.5em;
    font-weight: bolder;
    color: #e8e8e8;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.component-subheader {
    text-align: center;
    font-family: 'Caudex';
    font-size: 3em;
    font-weight: normal;
    color: #e8e8e8;
    padding-top: 3rem;
    padding-bottom: 3vh;
}

nav {
    position: absolute;
    right: 5%;
    bottom: 1rem;
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-content: center;
    list-style: none;
    /* flex-wrap: wrap-reverse; */
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    color: #4c6e94;
    text-decoration: none;
    margin-left: 20px;
}

nav ul a::after {
    content:"";
    display: block;
    width: 0;
    height: 2px;
    background-color: #5da8ff;
    transition: width 0.4s;
}

nav ul a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.logo {
    position: absolute;
    left: 5%;
    font-family: 'Caudex';
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Caudex';
    letter-spacing: 2px;
    color: #5da8ff; 
    
}

.logo:hover {
    transition: 0.3s;
    scale: 1.3;
    color: #0077ff; 
}

footer{
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;

    background-color: #243d57;
}

/************HOME PAGE SECTION************/

#home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    top:0;
    
}

.home-page {
    top:0;
    width: 100%;
    height: 100%;
    font-family: 'Caudex';
}

.home-main-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10vh;
    gap: 25px;

}

.home-title {
    font-size: 7rem;
    /* text-shadow: 3px 0 #4c6e94, -3px 0 #4c6e94, 0 3px #4c6e94, 0 -2px #4c6e94,
    2px 2px #4c6e94, -2px -2px #4c6e94, 2px -2px #4c6e94, -2px 2px #4c6e94; */
    max-width: 800px;
    font-weight: bolder;
    color: #e8e8e8;
    z-index: 2; 
    overflow: hidden;

}

.home-subtitle {
    color: #5da8ff;
    text-shadow: 3px 0 #f6f6f6;
    font-size: 3rem;
    /* font-weight: lighter; */
    text-decoration: none;
    /* -webkit-text-stroke: 0.5px #e8e8e8; */
    padding-bottom: 10vh;
    z-index: 2; 

}

#home-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 250px 250px 10px 10px;
    max-height: 500px;
    max-width: 400px;
    z-index: 1;
    
}

.home-link {
    position: absolute;
    font-size: 2rem;
    font-weight: lighter;
    bottom:10vh;
    width: 100%;
    text-align: center;
    z-index: 2; 
    color:#7bb9ff;
}

.home-link a {
    text-decoration: none;
    color:#7bb9ff;
}

.home-link a:hover {

    color:#fafbff;
}


/************MENU BAR SECTION************/

header {
    background-color: #e8e8e8; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    z-index: 1000;
    transition: 0.3s;

}

header.hidden {
    position: fixed;
    top: -3em;
    left: 0;
    width: 100%;
    height: 3em;
    overflow: hidden;
    z-index: 1000;
    transition: 1s;
}

/************ABOUT SECTION************/

#about {
    display: block;
    color: #b4d3fd;
    height: 100vh;
    
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    max-height: 100vh;

    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}

#about-image {
    max-width: 30vw;
    max-height: 40vh;
    border-radius: 30%;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: over;
    animation-range-end: 50vh;
}

#about-text {
    font-size: 1.7rem;
    margin-left: 5vw;
    max-width: 40vw;
    text-align: center;
}

/************EXPERIENCE SECTION************/

#experience {
    display: block;
    color: #9ec4ef;
    margin-bottom: 400px;
}
.experience-container {
    display:flex;
    flex-direction: column;
    align-content: center;
}
.experience-item {
    background-color: #A4BE7B;
    max-width: 900px;
    height: 35vh;
    border-radius: 10px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

#experience-image {
    max-height: 200px;
    width: auto;
    padding:1vh;
    margin: 1vh;

    background-color: #E5D9B6;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.experience-text {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.experience-title {
    font-size: 2.5em;

}
.experience-company {
    font-size: 2em;

}
.experience-time {
    font-size: 1.5em;

}


/************SKILLS SECTION************/


.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 5vh;
}

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 1vh;
    margin-bottom: 1vh;
}

.skill-name {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

.skill-icon {
    text-align: center;
    font-size: 3em;

}

.skill-item:hover {
    color: #3391fd;
    scale: 1.5;
    transition-duration: 3ms;
}

/************FOOTER/CONTACTS SECTION************/

#contact {
    display: block;
    position: fixed;
    align-content: end;
    padding-bottom: 5vh;
}

.contact-title {
    text-align: center;
    /* padding-top: 10vh; */
    padding-bottom: 1vh;
    /* font-size: 5em; */

}

.contact-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center; 
    /* align-items:flex-start;  */
    width: 100%; 
    padding-top: 4vh;
    padding-bottom: 5vh;
    gap: 2vw;


}

.contact-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh; 
}

.contact-button {
    background-color: #9ec4ef;
    border-radius: 20%; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.184);
    width: 80px; 
    height: 80px; 
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contact-icon {
    color: #243d57;
    font-size: 2.5em;
    max-width: 100px;
    max-height: 100px;
}

.contact-button:hover {
    background-color: #5da8ff;
    scale: 1.2;
    transition-duration: 3ms;
}

.contact-title {
    font-size: 1.3em;
    color: #9ec4ef;
}

/************ANIMATIONS************/

@keyframes scroll-watcher {
    to {scale: 1 1;}
}

@keyframes fade-in {
    from {scale: .5; opacity: 0;}
    to { scale: 1; opacity: 1;}
}

@keyframes fade-out {
    from {scale: 1; opacity: 1;}
    to { scale: 0.8; opacity: 0.5;}
}