@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face { font-family: Magilio; src: local('Magilio-Regular'); } 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
}

body {
    background-color: rgb(212, 208, 202);
    font-family: 'Lato';
    font-weight: lighter;
    overflow-x: hidden;
    color: black;
    /* background-color: #EFE2BA; */
}

.scroll-watcher {
    height:0.25vh;
    position:fixed;
    top: 0;
    z-index: 1000;
    background-color:#2d351b;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

component {
    min-height: 100vh;
    display: block;
    position: relative;
    z-index: 2;
    background-color: rgb(212, 208, 202);
    padding: 2rem;
    padding-top: 4rem;
    /* padding-bottom: 0; */
    
}

/* component:nth-child(odd) {
    background-color: #1a200e;

} */

.component-header {
    width: 100%;
    font-family: 'Magilio';
    font-size: 8vw;
    font-weight: normal;
    letter-spacing: 1px;
}

.component-subheader {
    font-family: 'Magilio';
    font-size: 5vw;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

nav {
    position: fixed;
    right: 5%;
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    list-style: none;
    /* flex-wrap: wrap; */
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    color: black;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 1.6rem;
}

nav ul a::after {
    content:"";
    display: block;
    width: 0;
    height: 2px;
    background-color: #1a200e;
    transition: width 0.4s;
}

nav ul a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.logo {
    position: absolute;
    left: 5%;
    font-family: 'Magilio';
    font-size: 2rem;
    letter-spacing: 2px;
    /* color: #5da8ff;  */
    padding-left: 5px;
    margin-top: 1.2rem;
    
}

.logo:hover {
    transition: 0.3s;
    scale: 1.1;
    color: #1a200e; 
}

footer{
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;

    background-color: #2d351b;
}

/************HOME PAGE SECTION************/

#home {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin-top: 4rem;
    padding-top: 6rem;
}

.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.home-text-container {
    font-family: 'Magilio';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    min-height:100%;
    padding-top: 10%;
}

.home-title {
    font-size: 8vw;
    font-weight: lighter;
    letter-spacing: 0px;
    color: black;
    width: 100%;
    z-index: 2; 
    /* overflow: hidden; */
    /* text-shadow: 3px 0 #4c6e94, -3px 0 #4c6e94, 0 3px #4c6e94, 0 -2px #4c6e94,
    2px 2px #4c6e94, -2px -2px #4c6e94, 2px -2px #4c6e94, -2px 2px #4c6e94; */
}

.home-subtitle {
    color: #5da8ff;
    text-shadow: 3px 0 #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    padding-bottom: 10vh;
    z-index: 2; 

}

.home-image-container {
    position: relative;
    /* height: 100%; */
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#home-image {
    max-width: 100%;
    height: auto;
}

.home-link {
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 2.5px;
    color:gray;
    overflow-y: hidden;
}

.home-link a {
    text-decoration: none;
    color:gray;
}

.home-link a:hover {
    color:#fafbff;
}


/************MENU BAR SECTION************/

header {
    background-color: rgb(212, 208, 202); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 1000;
    transition: 0.3s;
    justify-content: space-between;

}

header.hidden {
    position: fixed;
    top: -4em;
    left: 0;
    width: 100%;
    height: 4em;
    overflow: hidden;
    z-index: 1000;
    transition: 1s;
}

/************ABOUT SECTION************/

#about {
    color: black;
    display: block;
    height: 100%;
    justify-content: flex-start;
    
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.about-image-container {
    position: relative;
    max-width: 40%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#about-image {
    max-width: 100%;
    max-height: 200rem;
    /* max-height: 40vh; */
    /* border-radius: 30%; */
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: over;
    animation-range-end: 50vh;
}

.about-text-container {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#about-description {
    width: 100%;
    font-size: 2.5vw;
    text-align: left;
    font-weight: lighter;
    letter-spacing: -1px;
}

/************INTERESTS SECTION************/

.interests-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: #243d57; */
}

.interest-items {
    width: 100%;
}

.interest-items ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-content: center;
    list-style: georgian;
}

/************EXPERIENCE SECTION************/

#experience {
    display: block;
    background-color: #2d351b;
    color: white;
    margin-bottom: 400px;
}
.experience-container {
    display:flex;
    flex-direction: column;
    /* justify-content: right;
    align-content: flex-start; */
    padding-left: 5%;
}
.experience-item {
    font-weight: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */
    padding-top: 2rem;
    
}

#experience-image {
    max-height: 100px;
    width: auto;
    padding:1vh;
    /* margin: 1vh; */

    background-color: #E5D9B6;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.experience-text {
    font-weight: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-around; */
    padding-bottom: 2rem;
    /* padding-top: 2rem; */
    border-bottom: 1px solid white;
}

.experience-title {
    font-size: 2rem;
    font-weight: bolder;


}
.experience-company {
    font-size: 1.4em;
    font-weight: lighter

}
.experience-date {
    font-size: 1.4em;
    font-weight: lighter

}


/************SKILLS SECTION************/


.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 5vh;
}

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 1vh;
    margin-bottom: 1vh;
}

.skill-name {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

.skill-icon {
    text-align: center;
    font-size: 3em;

}

.skill-item:hover {
    color: #b8d9b9;
    scale: 1.5;
    transition-duration: 3ms;
}

/************FOOTER/CONTACTS SECTION************/

#contact {
    display: block;
    position: fixed;
    align-content: end;
    padding-bottom: 5vh;
}

.contact-title {
    text-align: center;
    /* padding-top: 10vh; */
    padding-bottom: 1vh;
    /* font-size: 5em; */

}

.contact-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center; 
    /* align-items:flex-start;  */
    width: 100%; 
    padding-top: 4vh;
    padding-bottom: 5vh;
    gap: 2vw;


}

.contact-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh; 
}

.contact-button {
    background-color: rgb(212, 208, 202);
    border-radius: 20%; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.184);
    width: 80px; 
    height: 80px; 
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contact-icon {
    color: #2d351b;
    font-size: 2.5em;
    max-width: 100px;
    max-height: 100px;
}

.contact-button:hover {
    background-color: #b8d9b9;
    scale: 1.2;
    transition-duration: 3ms;
}

.contact-title {
    font-size: 1.3em;
    color:  rgb(212, 208, 202);
}

/************ANIMATIONS************/

@keyframes scroll-watcher {
    to {scale: 1 1;}
}

@keyframes fade-in {
    from {scale: .5; opacity: 0;}
    to { scale: 1; opacity: 1;}
}

@keyframes fade-out {
    from {scale: 1; opacity: 1;}
    to { scale: 0.8; opacity: 0.5;}
}

/************SCREEN SIZE ADJUSTMENTS************/

@media (max-width: 800px) {
    #home {
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
    }

    .home-page {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .home-text-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 25px;
    }

    .home-image-container {
        max-width: 50%;
        height: 50%;
    }

    /* .home-link {
        
    } */
}